<ngb-carousel #carousel [interval]="2000">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/landing-page/c1.png" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/landing-page/c2.png" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/landing-page/c3.png" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/landing-page/c4.png" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/landing-page/c5.png" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>


<div id="features">
    <h1 id="heading">Why Choose E-Insurance ?</h1>

    <div id="feature">
        <div>
            <h1 class="heading">Dependable</h1>

            <h3><span>You can rely on us at all times.</span><br>Be it during large calamities like Odisha cyclone or minor
                accidents like a broken tail-light, we have
                always stood by our customers in time of need. We have repeatedly introduced industry-leading practices
                for nearly two decades . So, in times of trouble, be assured, we’ve got your back. We stand by our
                motto:<b> “Nibhaye Vaade”</b>.</h3>
        </div>
        <img id="fimg" src="assets/landing-page/dependable.png" alt="">
    </div>

    <div id="feature">
        <img id="fimg" src="assets/landing-page/approachable.png" alt="">
        <div>
            <h1 class="heading">Approachable</h1>
            
            <h3><span>You've got a friend in us.</span><br>Value of insurance is realised when you make a claim. In your
                hour of need, be it a major surgery or a broken car, you need more than just claim support. Our team
                comprises highly trained professionals and functional experts to guide you through the right course of
                action during emergencies. So, don’t hesitate. Any questions you have or any help you need - just reach
                out to us.</h3>
        </div>
    </div>

    <div id="feature">
        <div>
            <h1 class="heading">Transparent</h1>

            <h3><span>We give you the power of clarity.</span><br>Insurance products are designed and priced through
                complicated mathematical models. But we strive to explain the extent of coverage to you in a simple
                manner. From policy issuance to claims, you can count on us for keeping it simple. We have always gone
                the extra mile to make things clear, right from pre-sales to claims support.</h3>
        </div>
        <img id="fimg" src="assets/landing-page/transparent.png" alt="">
    </div>
</div>

<div class="products-container">
    <h1>Our Products</h1>
    <div class="product-cards">
        <!-- Car Product -->
        <div class="product-card">
            <div style="display: flex; align-items: center; gap: 10px; justify-content: space-between;">
                <img src="https://img.icons8.com/?size=100&id=21702&format=png&color=000000">
                <h2>Car</h2>
            </div>
            
            <ul>
                <li>Doorstep cashless repair & claims process</li>
                <li>Kms-based plans for low mileage drivers</li>
                <li>AI-backed instant claims process</li>
            </ul>
            <a href="#" class="explore">Explore &rarr;</a>
        </div>

        <!-- Bike Product -->
        <div class="product-card">
            <div style="display: flex; align-items: center; gap: 10px; justify-content: space-between;">
                <img src="https://img.icons8.com/?size=100&id=JplSo7PHzp3e&format=png&color=000000">
                <h2>Bike</h2>
            </div>
            
            <ul>
                <li>Cashless garage network</li>
                <li>Option of long-term policies</li>
                <li>Service guarantee on repairs</li>
            </ul>
            <a href="#" class="explore">Explore &rarr;</a>
        </div>

        <!-- Health Product -->
        <div class="product-card">
            <div style="display: flex; align-items: center; gap: 10px; justify-content: space-between;">
                <img src="https://img.icons8.com/?size=100&id=nZhh69BkmhDD&format=png&color=000000">
                <h2>Health</h2>
            </div>
            <ul>
                <li>Personalised policies for all budgets & ages</li>
                <li>Cashless treatment at any hospital</li>
                <li>Coverage for mild sickness to hospitalisation</li>
            </ul>
            <a href="#" class="explore">Explore &rarr;</a>
        </div>

        <!-- Travel Product -->
        <div class="product-card">
            <div style="display: flex; align-items: center; gap: 10px; justify-content: space-between;">
                <img src="https://img.icons8.com/?size=100&id=rKhFQBCNlBla&format=png&color=000000">
                <h2>Travel</h2>
            </div>
            <ul>
                <li>Cashless hospitalisation worldwide</li>
                <li>Coverage for missed flights, baggage & passport loss</li>
                <li>Instant online policy</li>
            </ul>
            <a href="#" class="explore">Explore &rarr;</a>
        </div>
    </div>
</div>